<%- include('../partials/header') %>

<% if  (items.length) { %>
  <% items.forEach(function(item) { %>
    <div class="item">
      <div>Description: <%= item.name %></div> 
      <div>Condition: <%= item.condition %></div> 
      <form action="/items/<%= item._id %>/unborrow?_method=PUT" method="POST">
        <button type="submit">STOP BORROWING ITEM</button>
      </form>
    </div>

  <% }); %>
<% } else { %>
  <h3> You have no borrowed items </h3>
<% } %>


<%- include('../partials/footer') %>