<%- include('../partials/header') %>

<% items.forEach(function(item) { %>
  <div>
    <div>Description: <%= item.name %></div> 
    <div>Condition: <%= item.condition %></div> 
    <form action="/items/<%= item._id %>/borrow" method="POST">
      <button type="submit">BORROW</button>
    </form>
  </div>
<% }); %>

<%- include('../partials/footer') %>