<%- include('../partials/header') %>

<% if  (items.length) { %>
  <% items.forEach(function(item) { %>
    <div>
      <div>Description: <%= item.name %></div> 
      <div>Condition: <%= item.condition %></div> 
    </div>
    <form action="/items/<%= item._id %>?_method=DELETE" method="POST">
      <button type="submit">REMOVE LOANED ITEM</button>
    </form>

  <% }); %>
<% } else { %>
  <h3> You have no loaned items. </h3>
<% } %>


<%- include('../partials/footer') %>